#root > .container {
  height: calc(100vh - 104px);
}

.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  color: white;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.no-underline {
  text-decoration: none !important;
}

.create-challenge {
  cursor: pointer;
}

.create-challenge:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.list-group-item.active {
  background-color: #343a40;
  border-color: #343a40;
}

.n-pl {
  margin-left: -3px;
}